@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');

html, a {
  background-color: black;
  color: white;
  font-family: 'Cutive Mono', monospace;
}

a {
  text-decoration: none;
  margin-right: .50em;
}

a:hover {
  opacity: .75;
}

header {
  border-bottom: 1px solid white;
}

footer {
  position: absolute;
  bottom: 15px;
}

section {
  text-align: center;
}

section h1 {
  font-size: 5em;
  font-weight: bold;
}

input {
  width: 60%;
  height: 4vh;
  font-size: 2em;
}

#spinner {
  height: 10em;
  width: 10em;
  border: 2em solid white;
  border-top: 2em solid darkcyan;
  animation: spin .5s linear infinite;
  border-radius: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5em;
}

@keyframes spin {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(360deg)}
}

#error {
  color: red;
  text-align: center;
  display: none;
}

#error h1 {
  font-size: 3em;
}

#error h2 {
  font-size: 2em;
}